%ul.list-group#MonthList
    - @month_group.each do |month, count|
        - url = current_page?(controller: :posts, action: :index) ? "##{month}" : posts_url(anchor: "#{month}")
        = link_to url, data: {turbolinks: false} do
            %li.list-group-item= "#{month} (#{count})"

= javascript_pack_tag 'month_view'